rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'tom.claes82@gmail.com';
    }

    match /profile/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /experience/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /earlierExperience/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /education/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /certifications/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /skills/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /projects/{docId} {
      allow read: if resource.data.visibility == 'public' || isAdmin();
      allow write: if isAdmin();
    }
    match /cvVariants/{docId} {
      allow read, write: if isAdmin();
    }
  }
}
